[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
2ip = "==0.0.2"
aiohttp = "==3.9.3"
aiosignal = "==1.3.1"
amqp = "==5.2.0"
anyio = "==4.2.0"
appdirs = "==1.4.4"
apscheduler = "==3.6.3"
asgiref = "==3.7.2"
asttokens = "==2.4.1"
async-timeout = "==4.0.3"
attrs = "==23.2.0"
backcall = "==0.2.0"
billiard = "==3.6.4.0"
cachetools = "==4.2.2"
celery = "==5.2.7"
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"
click = "==8.1.3"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
clipman = "==3.1.0"
colorama = "==0.4.6"
csv2json = "==0.2.2"
decorator = "==5.1.1"
deprecated = "==1.2.14"
dj-database-url = "==1.0.0"
django = "==3.2.9"
django-celery-beat = "==2.3.0"
django-cors-headers = "==3.13.0"
django-debug-toolbar = "==3.6.0"
django-timezone-field = "==6.1.0"
executing = "==2.0.1"
frozenlist = "==1.4.1"
g4f = "==0.2.0.7"
googlebard = "==1.4.0"
gunicorn = "==20.1.0"
h11 = "==0.14.0"
httpcore = "==1.0.2"
httpx = {extras = ["socks"], version = "==0.26.0"}
idna = "==3.6"
ipython = "==8.5.0"
jedi = "==0.19.1"
kombu = "==5.3.5"
markdown-it-py = "==2.2.0"
matplotlib-inline = "==0.1.6"
mdurl = "==0.1.2"
multidict = "==6.0.4"
packaging = "==23.2"
parso = "==0.8.3"
pexpect = "==4.9.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.43"
psycopg2-binary = "==2.9.9"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pygments = "==2.17.2"
pyperclip = "==1.8.2"
python-crontab = "==3.0.0"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
python-telegram-bot = "==13.15"
python-version = ">='3.9'"
pytz = "==2023.4"
redis = "==4.3.4"
requests = "==2.31.0"
rich = "==13.3.4"
six = "==1.16.0"
sniffio = "==1.3.0"
socksio = "==1.0.0"
sqlparse = "==0.4.4"
stack-data = "==0.6.3"
tornado = "==6.1"
traitlets = "==5.14.1"
tzdata = "==2023.4"
tzlocal = "==5.2"
urllib3 = "==2.2.1"
uvicorn = "==0.18.3"
vine = "==5.1.0"
vk = "==3.0"
wcwidth = "==0.2.13"
webchatgpt = "==0.2.7"
whitenoise = "==6.2.0"
wrapt = "==1.16.0"
yarl = "==1.9.4"
chucknorris = "==2.9.0"
distlib = "==0.3.8"
filelock = "==3.13.1"
fortune = "==1.1.1"
grizzled-python = "==2.2.0"
importlib-resources = "==6.1.1"
msgpack = "==1.0.7"
pipenv = "==2023.12.1"
platformdirs = "==4.2.0"
print = "==1.3.0"
psutil = "==5.9.8"
pyte = "==0.8.2"
scapy = "==2.5.0"
thefuck = "==3.32"
tk = "==0.1.0"
virtualenv = "==20.25.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
